.u-section-1 {
  background-image: url("images/lab.png");
  background-position: 80.24% 32.04%;
  background-size: 140%;
  min-height: 636px;
}

/*nav*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  padding: 20px;
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; 
}

nav.sticky {
  padding: 15px 20px;
  background: #98d0c1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

nav .logo {
  width: 120px;
  height: auto;
  margin-right: 20px; /* Add margin between logo and nav-links */
}

.nav-links {
  display: flex;
}

.nav-links li {
  list-style: none;
  margin: 0 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #98d0c1;
}

nav.sticky .nav-links li a {
  color: #fff;
  transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover {
  color: #0E2431;
}

/*end nav*/

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 401px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 301px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 190px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 322px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 280px;
  height: auto;
  --radius: 50px;
  margin: 21px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 24px 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 16px 6px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 16px 6px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 915px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 516px);
  height: 229px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
  margin: 623px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -788px auto 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 756px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 468px;
  margin-top: 20px;
  margin-bottom: 0;
  object-position: 50% 54.6%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 756px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-size: 1.25rem;
  margin: 99px 0 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 49px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 721px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 402px);
    height: 183px;
    margin-top: 483px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -610px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-4 .u-image-1 {
    height: 386px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 623px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 753px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 290px);
    height: 173px;
    margin-top: 532px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -643px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 296px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1169px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 290px);
    margin-top: 603px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -688px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    height: 444px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1193px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 290px);
    margin-top: 741px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -506px;
    margin-bottom: -155px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    height: 289px;
    margin-top: 40px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 551px;
}

.u-section-5 .u-group-1 {
  min-height: 256px;
  margin-top: 0;
  margin-bottom: 60px;
  background-image: none;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-5 .u-list-1 {
  width: 1100px;
  margin: 32px auto -313px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 368px;
  grid-gap: 20px 20px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 23px;
}

.u-section-5 .u-image-1 {
  width: 133px;
  height: 133px;
  margin: 51px auto 0;
}

.u-section-5 .u-text-2 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 56px auto 0;
  padding: 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 23px;
}

.u-section-5 .u-image-2 {
  width: 133px;
  height: 133px;
  margin: 51px auto 0;
}

.u-section-5 .u-text-3 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 56px auto 0;
  padding: 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 23px;
}

.u-section-5 .u-image-3 {
  width: 133px;
  height: 133px;
  margin: 51px auto 0;
}

.u-section-5 .u-text-4 {
  transition-duration: 0.5s;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 56px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-list-1 {
    width: 880px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 301px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -232px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -233px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 972px;
  }

  .u-section-5 .u-list-1 {
    width: 660px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 650px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1098px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-list-1 {
    width: 520px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1514px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-list-1 {
    width: 320px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 1271px;
  }
}

.u-section-5 .u-text-4,
.u-section-5 .u-text-4:before,
.u-section-5 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-4 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-5 .u-text-4 {
  color: #ffffff !important;
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before,
.u-section-5 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-2 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-5 .u-text-2 {
  color: #ffffff !important;
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before,
.u-section-5 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-3 {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-5 .u-text-3 {
  color: #ffffff !important;
}

.u-block-e4be-26:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-26:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-26:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-26:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-26:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-24:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-24:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-24:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-24:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-5 .u-btn-3,
.u-section-5 .u-btn-3:before,
.u-section-5 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-3 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-btn-1,
.u-section-5 .u-btn-1:before,
.u-section-5 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-1 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-btn-2,
.u-section-5 .u-btn-2:before,
.u-section-5 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-5 .u-btn-2 {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-image-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-5 .u-image-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-5 .u-image-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1:not([data-block-selected]):not([data-cell-selected]).u-section-5 .u-image-1:not([data-block-selected]):not([data-cell-selected]).u-section-5 .u-image-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-e4be-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e4be-62:not([data-block-selected]):not([data-cell-selected]).u-block-e4be-62:not([data-block-selected]):not([data-cell-selected]).u-block-e4be-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-e4be-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e4be-68:not([data-block-selected]):not([data-cell-selected]).u-block-e4be-68:not([data-block-selected]):not([data-cell-selected]).u-block-e4be-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-e4be-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e4be-74:not([data-block-selected]):not([data-cell-selected]).u-block-e4be-74:not([data-block-selected]):not([data-cell-selected]).u-block-e4be-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-e4be-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-77:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-66:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-72:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-e4be-78:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-e4be-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e4be-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-e4be-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e4be-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-e4be-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e4be-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-e4be-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-e4be-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e4be-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-e4be-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-e4be-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 600px;
}

.u-section-6 .u-text-1 {
  text-align: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 3rem;
  margin: 39px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 22px;
  margin-bottom: 42px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 440px;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 240px;
  height: 240px;
  object-position: 50% 16.62%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.u-section-6 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 240px;
  height: 240px;
  object-position: 50% 11.67%;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-5 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-7 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

.u-section-6 .u-text-9 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  object-position: 50% 24.47%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-10 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-11 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  object-position: 50% 15.76%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-12 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-13 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-image-7 {
  object-position: 50% 61.64%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-14 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-15 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-image-8 {
  object-position: 50% 94.17%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-16 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-17 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-image-9 {
  object-position: 50% 27.5%;
  width: 240px;
  height: 240px;
  margin: 0 auto;
}

.u-section-6 .u-text-18 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
}

.u-section-6 .u-text-19 {
  font-weight: normal;
  margin: 12px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 186px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    min-height: 412px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-6 .u-list-item-3 {
    background-position: 50% 94.17%;
  }

  .u-section-6 .u-list-item-4 {
    background-position: 50% 94.17%;
  }

  .u-section-6 .u-list-item-5 {
    background-position: 50% 94.17%;
  }

  .u-section-6 .u-list-item-6 {
    background-position: 50% 94.17%;
  }

  .u-section-6 .u-list-item-7 {
    background-position: 50% 94.17%;
  }

  .u-section-6 .u-list-item-8 {
    background-position: 50% 94.17%;
  }

  .u-section-6 .u-list-item-9 {
    background-position: 50% 94.17%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}

.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:white;
}

.carousel-slide {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.name, .position {
  margin: 0;
  padding: 5px 0;
}

.carousel-slide img {
  width: 100%;
  height: 200px; /* Adjust the height to your preference */
  object-fit: cover;
}