<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome to Neurocoach Digital Lab">
    <meta name="description" content="">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nicepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='About.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i">

    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"sameAs": [
				"https://www.facebook.com/neurocoachdigitallab?mibextid=LQQJ4d",
				"https://www.instagram.com/neurocoachdigitallabofficial/?igshid=MzRlODBiNWFlZA%3D%3D"
		]
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="About">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-overlap-transparent u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-3 u-header u-sticky u-sticky-d148 u-header" id="sec-e4c4">
      <div class="u-clearfix u-sheet u-sheet-1">
          <nav class="nav-content">
              <div class="logo-container">
                  <img src="{{ url_for('static', filename='images/ndllogo.png')}}" class="logo" alt="">
              </div>
              <ul class="nav-links">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/templates/About.html">About</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/templates/Services.html">Services</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/templates/Appointment.html">Appointment</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/templates/Contact.html">Contact</a></li>
              </ul>
          </nav>

      </div>
  </header>
    <section class="u-clearfix u-image u-section-1" id="sec-f4e5" data-image-width="1280" data-image-height="960"></section>
    <section class="u-clearfix u-custom-color-4 u-section-2" id="sec-7483">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-source-sans-pro u-text u-text-default u-text-1">Welcome to Neurocoach Digital Lab</h2>
        <p class="u-align-justify u-custom-font u-font-source-sans-pro u-text u-text-default u-text-2"> Neurocoach Digital Lab (NDL) is a center for brain measurements and treatments. All our services are fully dedicated to the well-being of children and adults with brain-related and behavioral problems.<br>
          <br>At NDL, we combine knowledge and experience from the fields of psychology, neurology and computer science to make sure that everybody receives the best treatment possible. We measure the brain and behavior using state-of-the-art equipment and tests. And we use the same techniques in combination with our multidisciplinary experience to train the brain and mind in order to improve problems.
        </p>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-3" id="sec-4384">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-left u-container-style u-custom-color-2 u-group u-radius u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-1">OPENING HOURS</h4>
            <p class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-2">MONDAY - FRIDAY<br>8.00 AM - 4.00 PM&nbsp;<br>
              <br>BREAK TIME<br>12.30 PM - 2.30 PM
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-4 u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-4" id="carousel_3558">
      <div class="u-custom-color-3 u-radius u-shape u-shape-round u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"></div>
      <div class="data-layout-selected u-clearfix u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-center u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">
                  <div class="u-container-layout u-valign-bottom u-container-layout-1">
                    <h3 class="u-align-left u-custom-font u-font-source-sans-pro u-text u-text-1">ABOUT NEUROCOACH DIGITAL LAB</h3>
                    <img class="u-expanded-width u-image u-image-default u-image-1" data-image-width="3000" data-image-height="4000" src="{{ url_for('static', filename='images/IMG20230609161829.jpg')}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-col">
                <div class="u-align-justify u-container-style u-custom-color-3 u-layout-cell u-radius u-right-cell u-shape-round u-size-60 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                  <div class="u-container-layout u-container-layout-2">
                    <p class="u-custom-font u-font-source-sans-pro u-text u-text-2">At NDL we offer you effective treatments and an excellent experience.&nbsp;<br>
                      <br>As a modern oriented center, we work with an innovative concept, focussing on your treatment. It is important to us that you always know WHY you are doing something. Our greatest motivation is your progress and path to an independent and satisfied everyday life.<br>&nbsp;<br>Our greatest motivation is your progress and path to an independent and satisfied everyday life.
                    </p>
                    <a href="Appointment.html" class="u-align-left u-border-none u-btn u-button-style u-custom-color-1 u-hover-palette-1-dark-1 u-btn-1">Book Appoinment</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-4 u-section-5" id="carousel_5e55">
      <div class="u-container-style u-custom-color-2 u-expanded-width u-group u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h3 class="u-custom-font u-font-source-sans-pro u-text u-text-default u-text-1">OUR SERVI​CES<span style="font-weight: 700;"></span>
          </h3>
          <div class="u-list u-list-1">
            <div class="u-repeater u-repeater-1">
              <div class="u-align-center u-container-style u-custom-color-3 u-list-item u-radius-20 u-repeater-item u-shape-round u-list-item-1">
                <div class="u-container-layout u-similar-container u-container-layout-2">
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="{{ url_for('static', filename='images/download.png')}}" alt="" data-image-width="100" data-image-height="100">
                  <h4 class="u-custom-font u-font-source-sans-pro u-hover-feature u-text u-text-2">Brain Measurement</h4>
                  <a href="Services.html" class="u-border-active-black u-border-hover-black u-border-none u-btn u-button-style u-hover-feature u-none u-text-active-black u-text-hover-black u-text-palette-1-base u-btn-1">more</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-custom-color-3 u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-2">
                <div class="u-container-layout u-similar-container u-container-layout-3">
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2" src="{{ url_for('static', filename='images/2__1_-removebg-preview.png')}}" alt="" data-image-width="320" data-image-height="320">
                  <h4 class="u-custom-font u-font-source-sans-pro u-hover-feature u-text u-text-3"> Attention Test</h4>
                  <a href="Services.html" class="u-border-active-black u-border-hover-black u-border-none u-btn u-button-style u-hover-feature u-none u-text-active-black u-text-hover-black u-text-palette-1-base u-btn-2">more</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-custom-color-3 u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-list-item-3">
                <div class="u-container-layout u-similar-container u-container-layout-4">
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3" src="{{ url_for('static', filename='images/3__1_-removebg-preview.png')}}" alt="" data-image-width="320" data-image-height="320">
                  <h4 class="u-custom-font u-font-source-sans-pro u-hover-feature u-text u-text-4"> Brain Training</h4>
                  <a href="Services.html" class="u-border-active-black u-border-hover-black u-border-none u-btn u-button-style u-hover-feature u-none u-text-active-black u-text-hover-black u-text-palette-1-base u-btn-3">more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="u-align-center u-border-1 u-border-grey-75 u-clearfix u-container-align-center u-custom-color-2 u-section-6" id="carousel_c89b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-default u-text-1">THE TEAM</h3>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="custom-expanded u-image u-image-1" src="{{ url_for('static', filename='images/Wahab.jpg') }}" data-image-width="683" data-image-height="1024">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-2"> Prof Dr. Abdul Wahab</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-3"> Advisor</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="custom-expanded u-image u-image-2" src="{{ url_for('static', filename='images/photo_2023-10-24_16-04-32.jpg') }}"data-image-width="960" data-image-height="1280">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-4">Asst. Prof. Dr. Norzaliza Md Nor</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-5">Coordinator</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3" >
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="custom-expanded u-image u-image-3" src="{{ url_for('static', filename='images/download1.png')}}" data-image-width="150" data-image-height="150">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-6">Asst. Prof. Dr. Nurul Liyana Mohamad Zulkifli</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-7"> Secretary</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img class="custom-expanded u-image u-image-4" src="{{ url_for('static', filename='images/download2.png')}}" data-image-width="100" data-image-height="100">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-8"> Asst. Prof. Dr. Atikah Balqis Basri</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-9"> Financial Controller</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-5">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img class="custom-expanded u-image u-image-5" src="{{ url_for('static', filename='images/8405.jpeg')}}" data-image-width="460" data-image-height="570">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-10"> Asst. Prof. Dr. Noor Azura Zakaria</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-11"> Co-researcher (Profiling)</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-6">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <img class="custom-expanded u-image u-image-6" src="{{ url_for('static', filename='images/8398.jpeg')}}" data-image-width="460" data-image-height="570">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-12"> Asst. Prof. Dr. Muna Azuddin</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-13"> Co-researcher (Multimedia)</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-7">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
                <img class="custom-expanded u-image u-image-7" src="{{ url_for('static', filename='images/image5.png')}}" data-image-width="460" data-image-height="570">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-14"> Asst. Prof. Dr. Takumi Sase</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-15"> Co-researcher (Analytics)</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-8">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
                <img class="custom-expanded u-image u-image-8" src="{{ url_for('static', filename='images/6.jpg')}}" data-image-width="404" data-image-height="404">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-16"> Asst. Prof. Dr. Andi Fitriah Abdul Kadir</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-17"> Co-researcher (Data Privacy)</h6>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-9">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9">
                <img class="custom-expanded u-image u-image-9" src="{{ url_for('static', filename='images/photo_2023-10-24_14-09-55.jpg') }}" data-image-width="960" data-image-height="1280">
                <h4 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-18"> Ain Shaheada binti Abdul Rahim Dapit</h4>
                <h6 class="u-align-center u-custom-font u-font-source-sans-pro u-text u-text-19">EEG Specialist</h6>
              </div>
            </div>
          </div>
          <a class="u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>

     
    <footer class="u-clearfix u-custom-color-3 u-footer" id="sec-e17c"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1"></div>
        <div class="u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/neurocoachdigitallab?mibextid=LQQJ4d"><span class="u-icon u-social-facebook u-social-icon u-text-custom-color-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8d8e"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-8d8e"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
      c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path></svg></span>
          </a>
          <a class="u-social-url" title="instagram" target="_blank" href="https://www.instagram.com/neurocoachdigitallabofficial/?igshid=MzRlODBiNWFlZA%3D%3D"><span class="u-icon u-social-icon u-social-instagram u-text-custom-color-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e11d"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-e11d"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
      z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
      C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
      c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path></svg></span>
          </a>
        </div>
        <img class="u-image u-image-default u-image-1" src="{{ url_for('static', filename='images/ndllogo.png') }}" alt="" data-image-width="1600" data-image-height="800">
      </div></footer>


      <!-- Chatbot-->
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">Hi. My name is Ain. How can I help you?</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <input type="text" placeholder="Write a message...">
                  <button class="chatbox__send--footer send__button">Send</button>
              </div>
          </div>
          <div class="chatbox__button">
              <button><script src="chatbot-deployment\static\app.js"></script><img src="{{ url_for('static', filename='images/icon chat.png') }}" /></button>
          </div>
      </div>
  </div>
  
      <script>
          $SCRIPT_ROOT = {{ request.script_root|tojson }};
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

      <script>
        let nav = document.querySelector("nav");
          window.onscroll = function() {
            if(document.documentElement.scrollTop > 20){
              nav.classList.add("sticky");
            }else {
              nav.classList.remove("sticky");
            }
          }
        </script>


</body></html>